// Specify the number of available columns
$grid-columns:          12;
// Inner padding on each side of a column to create gutters
$grid-column-padding:   15px;
// Point at which the floats kick in and horizontally align columns
$grid-float-breakpoint: 768px;

// mixins for grid
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
  -moz-box-sizing: $box-model;
  box-sizing: $box-model;
}

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin make-row {
  @include clearfix;
}

@mixin make-column($columns) {
  @media (min-width: $grid-float-breakpoint) {
    float: left;
    // Calculate width based on number of columns available
    width: percentage($columns / $grid-columns);
  }
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Set inner padding as gutters instead of margin
  padding-left: $grid-column-padding;
  padding-right: $grid-column-padding;
  // Proper box-model (padding doesn't add to width)
  @include box-sizing(border-box);
}

@mixin make-column-offset($columns) {
  @media (min-width: $grid-float-breakpoint) {
    margin-left: percentage($columns / $grid-columns);
  }
}

@mixin center-block {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

// classes to be used for grid
.container {
  margin-left: auto;
  margin-right: auto;
  @include clearfix;
}

.row {
  @include make-row;
}

@for $i from 1 through 12 {
  .grid-#{$i} {
    @include make-column($i);
  }
}

.centered {
  @include center-block;
}
