// Number of available columns
$grid-columns:          12;
// Gutter size
$gutter-size:   15px;
// Breakpoint for when columns begin floating
$breakpoint: 768px;
// Max-width for the layout so it doesn't get out of control on large screens
$container-max:         1500px;

// Mixins for grid
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
  -moz-box-sizing: $box-model;
  box-sizing: $box-model;
}

// Clear floats
@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin make-row {
  @include clearfix;
}

@mixin make-column($columns) {
  @media (min-width: $breakpoint) {
    float: left;
    // Calculate width based on number of columns specified
    width: percentage($columns / $grid-columns);
  }
  // Columns won't collapse if empty
  min-height: 1px;
  // Gutters
  padding-left: $gutter-size;
  padding-right: $gutter-size;
  // Proper box-model (padding doesn't add to width)
  @include box-sizing(border-box);
}

// Offset by x amount of offset columns
@mixin make-column-offset($offset-columns) {
  @media (min-width: $breakpoint) {
    margin-left: percentage($offset-columns / $grid-columns);
  }
}

// @include center-block for instantly centered content
@mixin center-block {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

// Utility classes
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: $container-max;
  @include clearfix;
}

.row {
  @include make-row;
}

@for $i from 1 through $grid-columns {
  .grid-#{$i} {
    @include make-column($i);
  }
}

.centered {
  @include center-block;
}
