// Body reset
// -------------------------
html {
  font-size: 100%;
}
body {
  background-color: $bodyBackground;
  color: $textColor;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
}

// Links
// -------------------------

a {
  color: $linkColor;
  text-decoration: none;
}
a:hover,
a:focus {
  color: $linkColorHover;
  text-decoration: underline;
}
