// Scaffolding
// -------------------------
$bodyBackground:        #fff !default;
$textColor:             #333 !default;

// Typography
// -------------------------
$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif !default;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace !default;

$baseFontSize:          14px !default;
$baseFontFamily:        $sansFontFamily !default;
$baseLineHeight:        20px !default;
$altFontFamily:         $serifFontFamily !default;

$headingsFontFamily:    inherit !default;
$headingsFontWeight:    bold !default;    // instead of browser default, bold
$headingsColor:         inherit !default;

// Links
// -------------------------
$linkColor:             #1188bd !default;
$linkColorHover:        darken($linkColor, 15%) !default;